@model Sir_Faizan_Method.Models.SirFaizanMethodTable

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="container col-md-4 pb-5 mb-5">
        <h1 class="text-center py-5">Register</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label mb-2"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Age" class="control-label mb-2"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Height" class="control-label mb-2"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 text-center">
                <input type="submit" value="Create" style="width:49%" class="btn btn-success" />
                <a style="width:49%" class="btn btn-outline-info" asp-action="Read">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
