@model Product;
<a class="btn btn-primary my-3" asp-controller="Product" asp-action="Index"><i class="bi bi-arrow-left"></i></a>
<form method="post">
  <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input  class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input  class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
  </div>
  <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <input  class="form-control" asp-for="Type">
        <span asp-validation-for="Type" class="text-danger"></span>
  </div>
  <div class="mb-3">
        <label asp-for="Comments" class="form-label"></label>
        <textarea class="form-control" asp-for="Comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" asp-for="submit">Submit</button>
</form>